extends user-form
block content
  div(class='col-sm-4 offset-sm-4 mt-4')
    h1.text-center.text-nowrap #{title}
    
    if errors
      div(class='row mt-4')
        div(class="alert alert-danger col")
          ul
            li!= errors[0].msg    
    form(method='POST' action="")
      div.form-group
        label(for="email") Email Address
        input.form-control(type="text" placeholder="Email" name='email')
      div.form-group
        label(for="password") Password
        input.form-control(type='password' name="password" placeholder='Password')
      div.row
        div.col.d-flex.align-items-center
          a.text-decoration-none.font-weight-bold(href="/users/sign-up") Sign Up
        div.col
          button.btn.btn-primary.float-right(type="submit") Sign In
